DepVisBe/obj/Debug/net9.0/DepVisBe.AssemblyInfo.cs
/DepVisBe/.vs/DepVisBe/v17/.suo
/DepVisBe/.vs/DepVisBe/v17/DocumentLayout.json
/DepVisBe/obj/Debug/net9.0/DepVisBe.csproj.AssemblyReference.cache
/DepVisBe/obj/Debug/net9.0/DepVisBe.assets.cache
/DepVisBe/obj/Debug/net9.0/DepVisBe.GeneratedMSBuildEditorConfig.editorconfig
/DepVisBe/obj/Debug/net9.0/rpswa.dswa.cache.json
/DepVisBe/obj/DepVisBe.csproj.nuget.dgspec.json
/DepVisBe/obj/DepVisBe.csproj.nuget.g.props
/DepVisBe/obj/DepVisBe.csproj.nuget.g.targets
/DepVisBe/obj/project.assets.json
/DepVisBe/obj/project.nuget.cache
/minio-data/*